.userinfo {
  flex: 0.8;
  background-color: #f9f9f9;
  padding: 0px 10px;
  padding-bottom: 0;
}

.userinfo__mainRow {
  display: flex;
  align-items: center;
  width: 70%; 
}

.userinfo__logo {
  height: 120px !important;
  width: 120px !important;
  margin: 10px 60px;
  border: 1px solid grey;
}

.userinfo__text {
  display: flex;
  flex-direction: column;
}

.userinfo__text > h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userinfo__text > p {
  color: #606060;
  font-size: small !important;
}