.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__logo {
  height: 40px;
  object-fit: contain;
  padding: 20px;
}

.header__input {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid lightgray;
}

.header__input > input {
  flex: 1;
  border: none;
  height: 28px;
}

.header__input > input:focus {
  outline: 2px solid lightskyblue;
}

.header__inputButtonLink {
  display: flex;
  width: 50px !important;
  height: 30px;
  border-left: 1px solid lightgray;
  align-items: center;
}

.header__inputButtonLink:focus {
  outline: none;
  background-color: darkgray;
}

.header__inputButtonLink:hover {
  background-color: darkgray;
}

.header__inputButton {
  width: 100% !important;
  height: 24px;
  color: gray;
}

.header__icons {
  display: flex;
  align-items: center;
}

.header__icon {
  margin-right: 10px;
}