.userIcon {
  position: relative;
  display: inline-block;
}

.userIcon__avatar {
  cursor: pointer;
}

.userIcon__dropdown {
  display: none;
  position: absolute;
  right:0;
  background-color: #f1f1f1;
  min-width: 160px;
  border: 1px solid lightgray;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.userIcon__dropdownShow {
  display: block;
}

.userIcon__content {
  color: black;
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.userIcon__content:hover {
  background-color: lightgray;
}

.login {
  padding: 6px 8px;
  color: blueviolet;
  border: 1px solid blueviolet;
  cursor: pointer;
}