.personRow {
  display: flex;
  align-items: center;
  width: 70%; 
}

.personRow__logo {
  height: 120px !important;
  width: 120px !important;
  margin: 10px 60px;
}

.personRow__text {
  display: flex;
  flex-direction: column;
}

.personRow__text > h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.personRow__text > p {
  color: #606060;
  font-size: small !important;
}


